<!DOCTYPE html>
<html>
<head>
	<title>MoreInfo_Yelpcamp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/stylesheet/main.css">
</head>
<body>
    <form action="/<% userId %>/mychallenges" method="POST">
        <input type="text" name= "ques1" value="<%= item.ques %>">
    </form>
</body>
</html>