<!DOCTYPE html>
<html>
<head>
	<title>MoreInfo_Yelpcamp</title>
</head>
<body>
    <h1>INDEX :</h1>
    <h3><%= index %></h3>
    <hr>
    <form action="/<%= index %>" method="POST">
        <input type="text" name="word">
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>